.line-one {
  background: repeating-linear-gradient(45deg, #FFE11A, #FFE11A 50%, #FD7400 50%, #FD7400);
  background-size: 20px 20px;
}
.line-two {
  background-image: repeating-linear-gradient(45deg, #004C66, #004C66 1em, #008C74 1em, #008C74 50%);
  background-size: 2em 2em;
}
.line-three {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 1em, #731630 1em, #731630 50%), repeating-linear-gradient(45deg, #40152A, #40152A 1em, #FF5434 1em, #FF5434 50%);
  background-size: 3em 3em, 2em 2em;
}
.line-four {
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 1em, #9E2053 1em, #9E2053 50%), repeating-linear-gradient(45deg, #111626, #111626 1em, #571B3D 1em, #571B3D 50%);
  background-size: 3em 3em, 2em 2em;
}
.line-five {
  background: repeating-linear-gradient(10deg, #009393, #009393 50%, #00585F 50%, #00585F);
  background-size: 100% 2em;
}
.line-six {
  background-image: radial-gradient(ellipse farthest-corner at 2em 2em, #ff9e9d, #ff9e9d 50%, #ff3d7f 50%);
  background-size: 2em 2em;
}
.line-seven {
  background-image: radial-gradient(ellipse 4em 4em, #bedb39, #bedb39 25%, #1f8a70 25%);
  background-size: 2em 2em;
}
.line-eight {
  background-image: radial-gradient(ellipse 100% 100%, #013440, #013440 25%, rgba(0, 0, 0, 0) 25%), radial-gradient(ellipse 50% 50%, #ab1a25, #ab1a25 25%, #002635 25%);
  background-size: 1em 1em, 2em 2em;
}
.line-nine{
  background:repeating-linear-gradient(45deg,
  #fb3,#fb3 15px,#58a 0,#58a 30px);
}

// 动态渐变
.active-gradualcolor-one { 
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
.gradual-one{
  background:
    linear-gradient(45deg, hsla(352, 96%, 45%, 1) 0%, hsla(352, 96%, 45%, 0) 70%),
    linear-gradient(135deg, hsla(253, 95%, 42%, 1) 10%, hsla(253, 95%, 42%, 0) 80%),
    linear-gradient(225deg, hsla(179, 91%, 45%, 1) 10%, hsla(179, 91%, 45%, 0) 80%),
    linear-gradient(315deg, hsla(119, 96%, 49%, 1) 100%, hsla(119, 96%, 49%, 0) 70%);
}
.active-gradualcolor-two {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 600% 600%;
  animation: gradientBG 5s ease infinite;
}
@keyframes gradientBG {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

// 静态渐变
.linear-gradient-one{
  background: #EECDA3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.linear-gradient-two{
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.linear-gradient-three{
  background: #40E0D0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.linear-gradient-four{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.linear-gradient-five{
  background: #4568DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.linear-gradient-six{
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.linear-gradient-seven{
  background: #ff0084;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #33001b, #ff0084);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #33001b, #ff0084); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


// 纯色
.color-one{
  background-color: #E892CA;
}
.color-two{
  background-color: #2792C3;
}
.color-three{
  background-color: #EE827D;
}
.color-four{
  background-color: #04A381;
}
.color-five{
  background-color: #698AAB;
}
.color-six{
  background-color: #B77B57;
}
.color-seven{
  background-color: #4C6CB3;
}
.color-eight{
  background-color: #634950;
}
.color-nine{
  background-color: #F5B199;
}
.color-ten{
  background-color: #83CCD3;
}
